@font-face {
    font-family: 'ArthemysDisplay';
    src: url('assets/fonts/ArthemysDisplayLight') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum';
    src: url('assets/fonts/NanumMyeongjo-Regular') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBold';
    src: url('assets/fonts/NanumMyeongjo-Bold') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* For Desktop View (screen width >= 768px) */
@media screen and (min-width: 768px) {
    .desktop-view {
        display: block; /* Show only desktop-view class */
    }
    .mobile-view {
        display: none; /* Hide mobile-view class */
    };
}

/* For Mobile View (screen width < 768px) */
@media screen and (max-width: 767px) {
    .mobile-view {
        display: block; /* Show only mobile-view class */
    }
    .desktop-view {
        display: none; /* Hide desktop-view class */
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body.lock-scroll {
    overflow: hidden; /* Disables scrolling */
}

h1 {
    color: #f4f4f4;
}

h2 {
    color: red;
    font-size: 18px;
}

small {
    font-size: 11px;
    font-weight: lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 10px;
    background-color: transparent;
}

.header-button {
    border-width: 0;
    padding: 0;
    margin-top: 8px;
    opacity: 0;
}

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37vw;
    height: auto;
    opacity: 0;
    user-select: none;
    -webkit-user-drag: none;
}

.mobile-view .main-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto;
    opacity: 0;
}

.main-container #main-logo {
    width: 100%;
    object-fit: contain;
}

.video-element-1 {
    position: absolute;
    top: 13%;
    left: 3%;
    width: 27%;
    overflow: hidden;
    opacity: 0;
}

.mobile-view .video-element-1 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 50%;
    overflow: hidden;
    opacity: 0;
}

.video-element-2 {
    position: absolute;
    top: 50%;
    left: 11%;
    width: 29%;
    overflow: hidden;
    opacity: 0;
}

.mobile-view .video-element-2 {
    position: absolute;
    top: 70%;
    left: 7%;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
}

.video-element-3 {
    position: absolute;
    top: 3%;
    left: 69%;
    width: 27%;
    overflow: hidden;
    opacity: 0;
}

.mobile-view .video-element-3 {
    position: absolute;
    top: 10%;
    left: 48%;
    width: 50%;
    overflow: hidden;
    opacity: 0;
}

.video-element-4 {
    position: absolute;
    top: 64%;
    left: 62%;
    width: 26%;
    overflow: hidden;
    opacity: 0;
}

.mobile-view .video-element-4 {
    position: absolute;
    top: 64%;
    left: 48%;
    width: 48%;
    overflow: hidden;
    opacity: 0;
}

.video-element-5 {
    position: absolute;
    top: 38%;
    left: 70%;
    width: 27%;
    overflow: hidden;
    opacity: 0;
}

.mobile-view .video-element-5 {
    position: absolute;
    top: 80%;
    left: 45%;
    width: 48%;
    overflow: hidden;
    opacity: 0;
}

.arrow-down {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform 1s ease;
}

.mobile-view .arrow-down {
    position: absolute;
    top: 57%;
    left: 18%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform 1s ease;
}

.arrow-down:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 1s ease;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 100vw;
    background: transparent;
}

.mobile-view .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    background: transparent;
}

.text-box {
    margin-top: 11vh;
    margin-bottom: 6px; /* Space between the text box and form */
    font-size: 18px;
    color: rgb(249, 0, 0);
}

.mobile-view .text-box {
    width: 80vw;
}

.text-box p {
    margin-bottom: 24px;
    font-family: 'NanumBold';
}

.text-box small {
    display: block;
    font-family: 'ArthemysDisplay', sans-serif;
}

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NanumBold';
}

.input-form input {
    padding: 10px;
    font-size: 16px;
    border: 0px solid #393939;
    background-color: #1f1f1f;
    margin-right: 10px;
    width: 250px;
    font-family: 'NanumBold';
}

.email-input {
    font-family: 'NanumBold';
}

.email-input::placeholder {
    font-family: 'NanumBold';
}

.input-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #3c3c3c;
    color: rgb(216, 216, 216);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-form .email-input {
    font-family:'Arial', Helvetica, sans-serif;
    color: rgb(178, 177, 177);
}

.input-form button:hover {
    background-color: rgb(244, 0, 0);
}

.footer-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 11vh;
    width: 100vw;
    background-color: transparent;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 124px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.mobile-view .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 106px;
    padding-right: 25px;
}